/************************CONTACT SECTION*************/
.contact-section {
    width: 100vw;
    height: 100vh;

    background-color: var(--rich-black);

    display: grid;
    place-items: center;
}

.contact-section-box {
    width: 80%;
    max-width: 460px;
    padding: 0 20px;
    height: 700px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    background-color: black;
    border: solid var(--ghost-white) 1px;
    box-shadow: 0px 0px 1px var(--ghost-white);
}
.contact-section-box h2{
    color: var(--ghost-white);
    font-size: 2.3rem;
    text-align: center;
}
.contact-section-box .social-networks {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.contact-section-box .social-networks a {
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    transition: 0.2s;
}
.contact-section-box .social-networks a i {
    margin-right: 20px;
}
.contact-section-box .social-networks a:hover {
    color: var(--international-orange-engineering);
}

.contact-section-box .contact-form {
    width: 90%;
    max-width: 500px;
    height: 50%;
    display: flex;
    flex-direction: column;
}
.contact-section-box .contact-form label {
    margin: 10px 0px;
    color: var(--ghost-white);
    font-size: 1.1rem;
}
.contact-section-box .contact-form input {
    height: 30px; 
}
.contact-section-box .contact-form textarea {
    height: 100px;
}


.contact-section-box .contact-form input, .contact-section-box .contact-form textarea {
    font-size: 1rem;
    color: var(--rich-black);
    padding-left: 10px;
}
.contact-section-box .contact-form input:focus, .contact-section-box .contact-form textarea:focus {
    outline: none;
}
.contact-section-box .contact-form input::placeholder, .contact-section-box .contact-form textarea::placeholder {
    color: var(--blue-sapphire);
    opacity: 50%;
}



.contact-section-box .contact-form .send-button {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #333;
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
}

.contact-section-box .contact-form .send-button:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--international-orange-engineering);
  transition: all .35s;
}
.contact-section-box .contact-form .send-button:hover{
  color: var(--blue-sapphire);
  cursor: pointer;
}
.contact-section-box .contact-form .send-button:hover:after{
  width: 100%;
}

.message-sent {
    color: var(--ghost-white);
}