/*******************PROJECTS SECTION!!!!*************/
.projects-section {
  padding-top: 50px;
  width: 100vw;
  height: 1000px;
  background-color: var(--rich-black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  position: relative;
}

.projects-title {
  max-width: 500px;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: var(--ghost-white);
}
.projects-title h2 {
  font-size: 2.5rem;
}


.projects-projects {
  width: 100%;
  height: 80%;
}
.projects-carrousel {
  width: 500%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  transition: all 0.5s ease;
  
}

/*styles for each project container*/
.project-container {
  margin: 0 5vw;
  width: 90vw;
  max-width: 560px;
  height: 650px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  background-color: var(--blue-sapphire);
  border-radius: 5px;
  box-shadow: -1px -1px 5px var(--blue-sapphire), 1px 1px 10px var(--blue-sapphire);
  color: var(--ghost-white);

  
}

.project-figure {
  display: block;
  width: 100%;
  height: auto;
}
.project-figure__image {
  width: 100%;
  height: 100%;
  /* flex: 1 0 100%; */
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.project__title {
  padding: 0px 10px;
  font-size: 1.9rem;
}
.project__description {
  padding: 0px 20px;
  font-size: 1.1rem;
}
.project-technologies {
  width: 100%;
  padding: 0px 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.project-technologies p{
  width: fit-content;
  height: 34px;
  margin: 10px;
  padding: 5px 3px;
  color: var(--cyan-process);
  font-weight: bold;
  font-size: 1.1rem;
}
.project-links-div {
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
}
.project-links__github-link, .project-links__deployment-link {
  padding: 4.5px;
  color: var(--cyan-process);
  border: 1px solid var(--cyan-process);
  border-radius: 5px;
}
.project-links__github-link:hover, .project-links__deployment-link:hover {
  color: var(--ghost-white);
  border: 1px solid var(--ghost-white);
} 



.projects-carrousel-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 2.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.projects-carrousel-nav .carrousel-point{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.75;
  transition: ease 0.2s;
}
.projects-carrousel-nav .carrousel-point.active {

  background-color: var(--international-orange-engineering);
  opacity: 1;
}
