:root {
  --rich-black: #040f16;
  --ghost-white: #fbfbff;
  --cyan-process: #01baef;
  --blue-sapphire: #0b4f6c;
  --international-orange-engineering: #b80c09;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-size: 62.5%;
  font-family: "Arvo", serif;
  font-weight: lighter;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--ghost-white);
}

.element--display-none {
  display: none;
}

/*scrollbar*/
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--international-orange-engineering); 
  border-radius: 10px; 
}


::-webkit-scrollbar-track {
  background-color: var(--rich-black); 
}


::-webkit-scrollbar-track-piece {
  background-color: var(--cyan-process);
}
