@media only screen and (min-width: 560px) {
  /*-------------nav menu*/
  .nav__checkbox {
    display: none;
  }
  .nav__toggle {
    display: none;
  }
  .nav__menu {
    height: 50px;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
  }
  .nav__menu li:first-child {
    margin-left: 10px;
  }
  .nav__menu li {
    display: block;
    width: 150px;
    margin: 0;
    padding: 0;
    height: auto;
  }
  .menu_list_div {
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    transform: none;
    transform: translate(0px, 0px);
  }

  /*Detecting when checkbox is checked for animation*/
  #nav__checkbox:checked ~ ul.nav__menu .menu_list_div {
    transform: translate(0px, 0px);
  }
  #nav__checkbox:not(:checked) ~ ul.nav__menu .menu_list_div {
    transform: translate(0px, 0px);
  }

  #nav__checkbox:not(:checked) ~ ul.nav__menu {
    height: 100px;
  }
  #nav__checkbox:checked ~ ul.nav__menu {
    height: 100px;
  }


  /*projects section*/
  .projects-section {
    height: 2600px;
    position: static;
  }
  .projects-title {
    height: 10%;
  }
  .projects-projects {
    width: 100vw;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .projects-carrousel {
    margin: 0;
    padding: 0 20px;
    width: 100vw;
    max-width: 800px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
    transform: translateX(0%);
  }
  .project-container {
    margin: 0;
    width: auto;
    max-width: none;
    height: 600px;
  }
  .project-container-1 {
    width: 100%;
    height: 650px;
    grid-column: 1/3;
  }
  .projects-carrousel-nav {
    display: none;
  }

}
